body {
  font-family: 'Oswald', sans-serif;
  background-image: url("assets/home/background-home-desktop.jpg");
  color: #FFFFFF; 
}

nav {
  position:fixed;
  padding-top: 30px;
  margin-left: 600px;
  width: 800px;
  height: 50px;
  background-color: #000;
  opacity: 20%; 
}

nav a {
  color: #fff; 
  margin: 20px;
  padding: 0 30px;
  text-decoration: none;
}
#info {
  font-family: 'Oswald', sans-serif;
  padding-top: 350px;
  padding-left: 100px;
  box-sizing: content-box;
  width: 400px;
  height: 400px;
}
#info .travel {

}
#info .space {

}
#info .expereince {

}

.explore {
  padding-left: 900px;
}